#visual_food {
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 40vh;
}

/* content */
#content_food {
  width: 100%;
  padding: 80px;
  padding-bottom: 0px;
  /* border: 1px solid black; */
}

.food_wrap {
  display: flex;
  flex-wrap: wrap;

  gap: 2%;
}

.food_section {
  flex: 0 0 23%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px rgb(165, 165, 165);
  /* text-align: center; */
  padding: 0px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 40px;
}

.food_section .img_top img {
  width: 103%;
  height: auto;
  transition: 0.5s;
  transform: translateY(-50px) scale(1);
}
.food_section .img_top {
  overflow: hidden;
  width: 100%;
}
.food_section:hover .img_top img {
  transform: translateY(-50px) scale(1.05);
  height: auto;
}
.food_link {
  display: block;
}

.text_bottom {
  background-color: white;
  height: 120px;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0px 0px 10px;
}
.food_title {
  font-family: 'Noto Serif KR', serif;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.text_bottom p {
  font-size: 13px;
  color: rgb(65, 65, 65);
  line-height: 22px;
}
